body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  background: black;
}

#enterAR {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 25px;
  border-radius: 40px;
  border: none;
  background: #0f8f2f;
  color: white;
  font-size: 18px;
  z-index: 10;
}
